<!--Template file-->
<!--templates/files.html.j2-->
<!DOCTYPE html>
<html>
	<head>
		<title>QShare</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
	</head>

	<body>
		<h2>QShare Directory Listing</h2>
		
		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Name</th>
					<th>Modified Time</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="{{ url_for('files', req_path=data['parent_folder']) }}">
							<span><i class="bi bi-folder-symlink" style="margin-right:0.3em"></i>Parent Directory</span>
						</a>
					</td>
					<td></td>
					<td></td>
				</tr>
				{% for file_obj in data['files'] %}
				<tr>
					<td>
						<a href="{{ url_for('files', req_path=file_obj['rel_path']) }}">
							<span><i class="{{file_obj['f_icon']}}" style="margin-right:0.3em"></i>{{ file_obj['name'] }}</span>
						</a>
					</td>
					<td>{{file_obj['m_time']}}</td>
					<td>{{file_obj['size']}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

		<style>
			table {table-layout:fixed; width:100%;}
			table td, th {word-wrap:break-word;}
			th {text-align: left;}
		</style>		
	</body>
</html>