<!DOCTYPE html>
<html>
	<head>
		<title>QShare Login Failed</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
	</head>

	<body>
		<div class="main">
			<h1>QShare</h1>
			
			<h3 class="failed">Login Failed!</h3>
			
			<div class="wrap">
				<button type="button" onclick="javascript:window.location.href = '/login'">
					Return to Login
				</button>
			</div>		   
		</div>
	</body>
</html>